[colibri-partial-refresh-pen-inside="true"] span.customize-partial-edit-shortcut button {
  left: 5px;
  top: 5px;
}

[colibri-partial-refresh-pen-inside="true"] span.customize-partial-edit-shortcut button svg path {
  stroke: #ffffff;
}

[data-colibri-hide-pen] span.customize-partial-edit-shortcut {
  display: none;
}

.customize-partial-edit-shortcut {
  left: 35px !important;
  top: 0px !important;
  z-index: 10000;
}

/*
.h-navigation_overlap .h-navigation .customize-partial-edit-shortcut {
  left:75px !important;
}

.h-section-fluid-container .h-dropdown-menu.h-menu .customize-partial-edit-shortcut {
  left:75px !important;
}
*/

.h-section-fluid-container .h-navigation [class*="has-offcanvas-"] .customize-partial-edit-shortcut,
.h-navigation_overlap .h-navigation [class*="has-offcanvas-"] .customize-partial-edit-shortcut {
  left: 10% !important;
}

[data-placeholder-provider="navigation-logo"] .customize-partial-edit-shortcut {
  left: 65px !important;
}

